@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fff;
  --background-end: #2b2b2b;
  --violet: #a259ff;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-end);
}
