@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

:root {
  /* color */
  --foreground-hex: #fff;
  --white: #fff;
  --grey: #ccc;
  --background-end: #2b2b2b;
  --violet: #a259ff;

  /* screens resp */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;
  --defaultFont: "Work Sans";
}

body {
  --foreground-hex: #fff;
  --white: #fff;
  color: var(--foreground-hex);
  background: var(--background-end);
  font-family: var(--defaultFont);
  font-weight: 600;
}
